[[source]]
name = "dumbpm"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pytest = "*"
pre-commit = "~=1.0"
mypy = "*"
ipython = "*"
ipdb = "*"
twine = "*"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
seaborn = "*"

[requires]
python_version = "3.9"
