[[source]]
name = "dumbpm"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pytest = "*"
pre-commit = "~=1.0"
mypy = "*"
ipython = "*"
ipdb = "*"
twine = "*"

[packages]
pandas = "*"
# temporary until stable release (CVE-2017-18342) (https://github.com/yaml/pyyaml/issues/193)
pyyaml = ">=4.2b4"

[requires]
python_version = "3.7"
